.container2 {
  background-image: radial-gradient(
    circle at 50% -20.71%,
    #a4d8ec 0,
    #a7d7ef 6.25%,
    #abd6f1 12.5%,
    #b0d5f3 18.75%,
    #b5d3f4 25%,
    #bbd2f4 31.25%,
    #c1d0f4 37.5%,
    #c7cff3 43.75%,
    #cdcdf2 50%,
    #d3cbf0 56.25%,
    #d9caed 62.5%,
    #dec8ea 68.75%,
    #e3c7e7 75%,
    #e8c6e3 81.25%,
    #ecc5df 87.5%,
    #efc4da 93.75%,
    #f2c4d6 100%
  );
  border-bottom: solid 10px #453a94;
  border-top: solid 10px #f43b47;
}
p {
  margin: 0;
}
.date {
  padding-top: 20px;
  font-size: 20px;
  margin: 0;
  font-weight: 900;
  color: #f43b47;
}
.dateAccueil {
  text-align: center;
}
.artiste {
  font-size: 35px;
  font-weight: 900;
  text-decoration: none;
}
.imageAccueil {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.divImage {
  position: relative;
  padding-top: 20px;
  height: 200px;
  margin: 0;
}
.titreImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  background-color: rgba(244, 59, 71, 0.7);
  text-shadow: 1px 1px 1px #453a94;
  color: #453a94;
  border: #453a94 solid 3px;
  padding: 1px 2px 4px;
}
.titreImage2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  background-color: rgba(244, 59, 71, 0.7);
  text-shadow: 1px 1px 1px #453a94;
  color: #453a94;
  border: #453a94 solid 3px;
  padding: 2px 4px;
}
.basAccueil {
  border-top: solid 10px #f43b47;
  border-bottom: solid 10px #453a94;
  padding-bottom: 20px;
  background-image: radial-gradient(
    circle at 50% -20.71%,
    #a4d8ec 0,
    #a7d7ef 6.25%,
    #abd6f1 12.5%,
    #b0d5f3 18.75%,
    #b5d3f4 25%,
    #bbd2f4 31.25%,
    #c1d0f4 37.5%,
    #c7cff3 43.75%,
    #cdcdf2 50%,
    #d3cbf0 56.25%,
    #d9caed 62.5%,
    #dec8ea 68.75%,
    #e3c7e7 75%,
    #e8c6e3 81.25%,
    #ecc5df 87.5%,
    #efc4da 93.75%,
    #f2c4d6 100%
  );
}
@media screen and (min-width: 1200px) {
  .dateAccueil {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .dateAccueil > div {
    width: calc(33% - 10px);
    margin-bottom: 20px;
  }
  .container2 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-image: none;
  }
  .basAccueil {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-image: none;
  }
  .divImage {
    width: 40%;
    height: auto;
    display: inline-block;
    padding: 30px 5%;
  }
  .bgGrand {
    background-image: radial-gradient(
      circle at 50% -20.71%,
      #a4d8ec 0,
      #a7d7ef 6.25%,
      #abd6f1 12.5%,
      #b0d5f3 18.75%,
      #b5d3f4 25%,
      #bbd2f4 31.25%,
      #c1d0f4 37.5%,
      #c7cff3 43.75%,
      #cdcdf2 50%,
      #d3cbf0 56.25%,
      #d9caed 62.5%,
      #dec8ea 68.75%,
      #e3c7e7 75%,
      #e8c6e3 81.25%,
      #ecc5df 87.5%,
      #efc4da 93.75%,
      #f2c4d6 100%
    );
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .divImage {
    width: 40%;
    height: auto;
    display: inline-block;
    padding: 30px 5%;
  }
}
