@import "./Menu.css";
@import "./Accueil.css";
@import "./Programmation.css";
@import "./Artiste.css";
@import "./Footer.css";
@import "./Mentions.css";
@import "./Partenaires.css";
@import "./Billetterie.css";
@import "./Informations.css";
@import "./Transport.css";
@import "./Restauration.css";
@import "./Logement.css";
@import "./Faq.css";
@import "./Map.css";

body {
  margin: 0;
  padding: 0;
  font-family: "Architects Daughter", cursive;
}
h1 {
  font-family: "Kaushan Script", cursive;
}
.rouge {
  color: #f43b47;
}
.bleu {
  color: #453a94;
}
.bg {
  background-image: radial-gradient(
    circle at 50% -20.71%,
    #a4d8ec 0,
    #a7d7ef 6.25%,
    #abd6f1 12.5%,
    #b0d5f3 18.75%,
    #b5d3f4 25%,
    #bbd2f4 31.25%,
    #c1d0f4 37.5%,
    #c7cff3 43.75%,
    #cdcdf2 50%,
    #d3cbf0 56.25%,
    #d9caed 62.5%,
    #dec8ea 68.75%,
    #e3c7e7 75%,
    #e8c6e3 81.25%,
    #ecc5df 87.5%,
    #efc4da 93.75%,
    #f2c4d6 100%
  );
}
