.footer {
  border-top: solid 10px #f43b47;
  color: #453a94;
  background-image: radial-gradient(
    circle at 50% -20.71%,
    #a4d8ec 0,
    #a7d7ef 6.25%,
    #abd6f1 12.5%,
    #b0d5f3 18.75%,
    #b5d3f4 25%,
    #bbd2f4 31.25%,
    #c1d0f4 37.5%,
    #c7cff3 43.75%,
    #cdcdf2 50%,
    #d3cbf0 56.25%,
    #d9caed 62.5%,
    #dec8ea 68.75%,
    #e3c7e7 75%,
    #e8c6e3 81.25%,
    #ecc5df 87.5%,
    #efc4da 93.75%,
    #f2c4d6 100%
  );
}
.logoReseaux {
  display: flex;
  justify-content: space-around;
  margin: 20px 50px;
  padding-bottom: 10px;
}
.menuFooter {
  padding: 10px 10px 0 0;
  display: flex;
  justify-content: space-around;
}
.lienFooter {
  text-decoration: none;
  color: #453a94;
  font-size: 1em;
  font-weight: bold;
}
.titreReseaux {
  margin: 15px 35%;
  color: #f43b47;
  min-width: 130px;
  max-height: 22px;
}
@media screen and (min-width: 1200px) {
  .footer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-image: none;
  }
  .lienFooter {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 768px) {
  .titreReseaux {
    margin: 15px 45%;
  }
}
