.blockMap {
  border-top: solid 10px #f43b47;
  border-bottom: solid 10px #453a94;
  border-top: solid 10px #f43b47;
  border-bottom: solid 10px #453a94;
  background-image: radial-gradient(
    circle at 50% -20.71%,
    #a4d8ec 0,
    #a7d7ef 6.25%,
    #abd6f1 12.5%,
    #b0d5f3 18.75%,
    #b5d3f4 25%,
    #bbd2f4 31.25%,
    #c1d0f4 37.5%,
    #c7cff3 43.75%,
    #cdcdf2 50%,
    #d3cbf0 56.25%,
    #d9caed 62.5%,
    #dec8ea 68.75%,
    #e3c7e7 75%,
    #e8c6e3 81.25%,
    #ecc5df 87.5%,
    #efc4da 93.75%,
    #f2c4d6 100%
  );
}
.iconTitle {
  margin: 0;
}
.filtreMap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.iconMap {
  width: 25px;
  height: auto;
}
.boutonMap {
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 10px;
  flex-grow: 1;
  background-color: #453a94;
  color: #c1d0f4;
  margin: 1px;
}
.boutonMap:hover {
  background-color: #f43b47;
}
.filtreActif {
  background-color: #f43b47;
}
.boutonMapReset {
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 10px;
  flex-grow: 1;
  background-color: #453a94;
  color: #c1d0f4;
  margin: 1px;
}
@media screen and (min-width: 1200px) {
  .blockMap {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-image: none;
  }
  .boutonMap {
    margin: 10px 0;
  }
}
